
.layout-postlist .row-content {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

.layout-postlist-item {
	border-top-width: 1px;
	padding-top: 8%;
	padding-bottom: 8%;
}
	.layout-postlist-item:first-of-type {
		border-top-width: 0;
	}



/*Elements of each post*/
.layout-postlist-item h1 {
	color: #27a9e1;
	font-weight: 300;
	line-height: 1.2;
}
	.layout-postlist-item.no-rhythm h1 {
		margin-bottom: 2%;
	}

.layout-postlist-item .logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/*Wide images*/
@media handheld, only screen and (min-width: 40em) {
	.layout-postlist-item {
		margin-left: -5%;
		margin-right: -5%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.layout-postlist-item .logo {
		margin-left: -5%;
		margin-right: -5%;
	}
}

@media handheld, only screen and (min-width: 55em) {
	.layout-postlist-item .logo {
		margin-left: -15%;
		margin-right: -15%;
	}
}

@media handheld, only screen and (min-width: 65em) {
	.layout-postlist-item .logo {
		margin-left: -25%;
		margin-right: -25%;
	}
}



/*Details & avatar*/
.layout-postlist-item-details li {
	height: 3em;
	line-height: 3em;
}
	.layout-postlist-item-details .avatar {
		width: 2.2em;
		margin-right: 1em;
		vertical-align: middle;
	}
	.layout-postlist-item-details {
		font-size: 0.85em;
	}
	.layout-postlist-item-details h4 {
		font-size: inherit;
		margin-right: 1em;
	}
	@media handheld, only screen and (min-width: 48em) {
		.layout-postlist-item {
			padding-left: 3em;
		}
		.layout-postlist-item-details {
			margin-bottom: 0.6em;
		}
		.layout-postlist-item-details li {
			height: auto;
			line-height: 1;
		}
		.layout-postlist-item .avatar {
			display: block;
			position: absolute;
			margin-right: 0;
			width: 4em;
			top: 0;
			left: -5em;
		}
	}
