
/*Global defaults*/
* {
	-webkit-overflow-scrolling: touch;
}

/*Elements*/
a,
label,
img,
ul.inline li {
	display: inline-block;
}
	a.block,
	img.block,
	label.block {
		display: block;
	}

img {
	vertical-align: middle;
	max-height: 100%;
}

a {
	text-decoration: none;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type=""],
input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
textarea {
	max-width: 100%;
	box-sizing: border-box;
	-webkit-font-smoothing: inherit;
}
