
.menu-supportfull a {
	display: block;
}

/*Hide unselected main-level*/
ul.menu-supportfull > li,
ul.menu-supportfull > li > a {
	display: none;
}
	ul.menu-supportfull > li.selected {
		display: block;
	}

/*Title links*/
ul.menu-supportfull > li > ul > li > a {
	color: #8b9ba3;
	font-weight: 600;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

/*Page links*/
ul.menu-supportfull > li > ul > li > ul > li > a {
	padding: 0.1em 0.4em;
	margin-left: -0.4em;
	border-radius: 2px;
}
ul.menu-supportfull > li > ul > li > ul > li > a:hover,
ul.menu-supportfull > li > ul > li > ul > li > a:focus {
	background-color: #f5f6f7;
}
	ul.menu-supportfull > li > ul > li > ul > li.selected > a {
		font-weight: bold;
		color: #1c2b32;
	}

/*Sections*/
ul.menu-supportfull > li > ul > li {
	margin-bottom: 2em;
}

/*Tools*/
.menu-supportfull .tools > ul > li {}
.menu-supportfull .tools > ul > li a {
	position: relative;
	width: 14em;
	max-width: 100%;

	line-height: 2.0em;
}
	.menu-supportfull .tools > ul > li a .badge {
		position: absolute;
		z-index: 20;
		top: -0.6em;
		right: -1.2em;
		padding: 0.4em 0.8em;
		line-height: 1;
		font-size: 0.7em;
		text-transform: uppercase;
		font-weight: 600;
	}
	.menu-supportfull .tools > ul > li a:hover,
	.menu-supportfull .tools > ul > li a:focus {
		border-color: #4e6d7b;
	}
.menu-supportfull .tools .logo {
	width: 1.4em;
	margin-right: 0.6em;
	text-align: center;
}
.menu-supportfull .tools img {
	max-height: 1.4em;
	vertical-align: middle;
	position: relative;
	top: -0.1em;
}
