
/*Inverted scheme*/
.partial-marketing-header {
	background-color: #1c2b32;
}
	.partial-marketing-header .layout-header-menu .selected strong {
		border-color: #95aab3;
	}
	.partial-marketing-header a.layout-header-logo:hover,
	.partial-marketing-header a.layout-header-logo:focus,
	.partial-marketing-header .layout-header-menu .button:hover,
	.partial-marketing-header .layout-header-menu .button:focus {
		background-color: rgba(0, 0, 0, 0.7);
		border-color: transparent;
	}
		.partial-marketing-header .layout-header-menu .layout-header-menuitemwithbutton.button:hover,
		.partial-marketing-header .layout-header-menu .layout-header-menuitemwithbutton.button:focus {
			background-color: transparent;
		}
		.partial-marketing-header .layout-header-menu .layout-header-menuitemwithbutton.button:hover strong.blue,
		.partial-marketing-header .layout-header-menu .layout-header-menuitemwithbutton.button:focus strong.blue {
			background-color: #30b8f2;
		}
