
/*Bar*/
.partial-support-header {
	border-bottom-width: 1px;
	color: #1c2b32;
	box-shadow: 0 0 1em rgba(28, 43, 50, 0.075);
}



/*Search*/
.partial-support-header .partial-support-search input[type="search"] {
	width: 100%;
	padding: 1.35em 1.4em 1.25em 1.4em;
	background-color: transparent;
	line-height: 1.6;
	font-size: 0.85em;
	background-color: transparent;
	border-radius: 0;
}

	/*Focus on smaller screens*/
	@media handheld, only screen and (max-width: 69.9375em) {
		.partial-support-header .partial-support-search .column.fluid {
			width: 0;
		}
		.partial-support-header .partial-support-search input[type="search"] {
			right: 0;
			width: 16em;
			max-width: none;
			position: absolute;
		}
		.partial-support-header .partial-support-search input[type="search"]:not(:focus) {
			z-index: -200;
			width: 1px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	@media handheld, only screen and (max-width: 30.9375em) {
		.partial-support-header .partial-support-search input[type="search"] {
			right: -3em;
		}
	}
	@media handheld, only screen and (max-width: 24.9375em) {
		.partial-support-header .partial-support-search input[type="search"] {
			right: -7.6em;
		}
	}
	@media handheld, only screen and (max-width: 21.9375em) {
		.partial-support-header .partial-support-search input[type="search"] {
			width: 12em;
		}
	}


	/*Layout*/
	.partial-support-header .partial-support-search .column.fixed {
		width: 2.5em;
	}
	.partial-support-header .partial-support-search .column.fluid > .column-content {
		margin-right: 2.5em;
	}
	.partial-support-header .partial-support-search .column.fluid.right > .column-content {
		margin-left: 2.5em;
	}

	/*Input*/
	.partial-support-header .partial-support-search input:hover,
	.partial-support-header .partial-support-search input:focus {
		background-color: #f5f6f7;
	}

	/*Submit button*/
	.partial-support-header .partial-support-search input[type="submit"] {
		display: block;
		width: 100%;
		font-size: 1.2em;
		padding-top: 0.2em;
		height: 2.75em;
		line-height: 2.75em;
		font-family: 'icons';
		color: #1c2b32;
	}
	.partial-support-header .partial-support-search input[type="submit"]:active,
	.partial-support-header .partial-support-search input[type="submit"]:focus {
		outline: 0;
	}

	/*Results*/
	.partial-support-header .partial-support-search .form-response {
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 20em;

		width: 100%;
		top: 3.4em;
		font-size: 0.85em;

		box-shadow: 0 2px 2px rgba(28, 43, 50, 0.1);
	}
	@media handheld, only screen and (max-width: 69.9375em) {
		.partial-support-header .partial-support-search .form-response {
			width: 20em;
			left: -16em;
		}
	}
	@media handheld, only screen and (max-width: 30.9375em) {
		.partial-support-header .partial-support-search .form-response {
			left: -13em;
		}
	}
	@media handheld, only screen and (max-width: 24.9375em) {
		.partial-support-header .partial-support-search .form-response {
			left: -13em;
		}
	}
	@media handheld, only screen and (max-width: 21.9375em) {
		.partial-support-header .partial-support-search .form-response {
		}
	}

		/*Result items*/
		.partial-support-header .partial-support-search .form-response .search-noresults,
		.partial-support-header .partial-support-search .form-response a {
			padding: 0.2em 1em;
		}
		.partial-support-header .partial-support-search .form-response a {
			border-top-width: 1px;
			border-color: #f0f1f2;
		}
		.partial-support-header .partial-support-search .form-response a:hover,
		.partial-support-header .partial-support-search .form-response a:focus {
			background-color: #f5f6f7;
		}
		.partial-support-header .partial-support-search .form-response a:first-of-type {
			border-top-width: 0;
		}
