
/*Title links*/
.partial-support-revealmenu ul.menu-reveal > li > ul > li > a {
	color: #8b9ba3;
	font-weight: 600;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

.partial-support-revealmenu ul.menu-reveal li.level-0 > a {
	display: none;
}

	@media handheld, only screen and (min-width: 25em) {
		.partial-support-revealmenu ul.menu-reveal li.level-0.first {
			width: 100%;
		}
		.partial-support-revealmenu .menu-reveal > li:nth-child(2n+1) {
			clear: none;
		}
		.partial-support-revealmenu .menu-reveal > li:nth-child(2n) {
			clear: both;
		}
	}
	.partial-support-revealmenu ul.menu-reveal li.level-0.first > a {
		display: block;
	}
