<ul class="partial-socialmedialinks">
	<li><a href="https://www.facebook.com/{{ theme.config.services.facebook.username }}" class="button plain round clear-after facebook" target="_blank"><i class="icon-facebook"></i></a></li>
	<li><a href="https://twitter.com/{{ theme.config.services.twitter.username }}" class="button plain round clear-after twitter" target="_blank"><i class="icon-twitter"></i></a></li>
	<li><a href="https://www.linkedin.com/company/{{ theme.config.services.linkedin.username }}" class="button plain round clear-after linkedin" target="_blank"><i class="icon-linkedin"></i></a></li>
</ul>