
/*Dropdowns*/

.dropdown-parent {
	position: relative;
}

.dropdown {
	position: absolute;
	z-index: -20;
	left: 0;
	/*top: 0;*/
	opacity: 0;

	transform: translate3d(0, -0.4em, 0);

	/*Transition*/
	transition-property: z-index, opacity, transform;
	transition-delay: 100ms, 0, 100ms;
	transition-duration: 0, 100ms, 100ms;

	/*Look*/
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 0.4em rgba(46, 50, 51, 0.4);
}

	.dropdown-parent.on .dropdown {
		display: block;
		opacity: 1;
		z-index: 20;

		transition-delay: 0;
		transform: translate3d(0, 0, 0);
	}
