
/*Tag*/
.tag {
	display: inline-block;
	line-height: 1.25;
	padding: 0.25em 0.5em;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 2px;
}

	.tag.round {
		width: 1.25em;
		padding-left: 0.25em;
		padding-right: 0.25em;
		border-radius: 100em;
	}



/*Reveal tag*/

.tag.reveal {
	display: block;
	position: absolute;
	z-index: 5;
	padding: 0.5em;

	left: 0;
	bottom: 50%;
	transform: translate3d(0, 50%, 0);

	transition-duration: 200ms;
}
	@media handheld, only screen and (min-width: 70em) {
		.tag.reveal {
			left: 50%;
			bottom: 0;
			transform: translate3d(-50%, 0, 0);
		}
		a:hover .tag.reveal {
			transform: translate3d(-50%, 150%, 0);
		}
	}
