
/*Header*/
.layout-header {
	background-color: #fff;
}
	.layout-header.fixed {
		z-index: 50;
		width: 100%;
	}

.layout-header .row-content {
	max-width: none;
}

.layout-header .row-content.buffer.even {
	padding-top: 0;
	padding-bottom: 0;
}



/*Menu lists*/
.layout-header-menu {
	line-height: 2.2em;
	vertical-align: middle;
}
	@media handheld, only screen and (max-width: 69.9375em) {
		.layout-header-mainmenu > li:first-child {
			display: none;
		}
	}



/*Logo*/
.layout-header-logo {
	padding: 0.85em 0.6em;
	margin-left: -0.6em;
}
.layout-header-logo img {
	max-height: 1.8em;
}



/*Links*/
.layout-header-menu .button {
	border-radius: 0;
	font-size: 1em;
	padding: 0.65em 0.6em;
	color: inherit;

	font-weight: 600;
	border-color: transparent;
}
	a.layout-header-logo:hover,
	a.layout-header-logo:focus,
	.layout-header-menu .button:hover,
	.layout-header-menu .button:focus {
		background-color: #f5f6f7;
	}
	@media handheld, only screen and (min-width: 60em) {
		.layout-header-menu .button strong {
			padding-left: 0.25em;
			padding-right: 0.25em;
		}
	}
	@media handheld, only screen and (min-width: 70em) {
		.layout-header-menu .button strong {
			padding-left: 0.4em;
			padding-right: 0.4em;
		}
	}
	@media handheld, only screen and (min-width: 90em) {
		.layout-header-menu .button {
			letter-spacing: 0.1em;
		}
	}



/*Toggle button*/
.layout-header-toggle {
	margin-right: -0.8em;
}
.layout-header-toggle .button {
	font-size: 2em;
	height: 1.75em;
	line-height: 1.75em;
	padding: 0 0.4em;
}



/*Link content*/
.layout-header-menu strong {
	display: inline-block;
	font-weight: inherit;
	border-color: transparent;
	font-size: 0.85em;
	line-height: 2;
	border-bottom-width: 1px;
}
	.layout-header-menu .selected a strong {
		border-color: #8b9ba3;
	}

	/*With button look*/
	.layout-header-menu .layout-header-menuitemwithbutton.button {
		padding-left: 0;
		padding-right: 0;
	}
		.layout-header-menu .layout-header-menuitemwithbutton.button:hover,
		.layout-header-menu .layout-header-menuitemwithbutton.button:focus {
			background-color: transparent;
		}
	.layout-header-menu .layout-header-menuitemwithbutton.button strong {
		border-color: transparent;
		line-height: inherit;
		padding-left: 0.8em;
		padding-right: 0.8em;
	}
		.layout-header-menu .layout-header-menuitemwithbutton.button:hover strong.darkgrey,
		.layout-header-menu .layout-header-menuitemwithbutton.button:focus strong.darkgrey,
		.layout-header-menu .layout-header-menuitemwithbutton.button:hover strong.verydarkgrey,
		.layout-header-menu .layout-header-menuitemwithbutton.button:focus strong.verydarkgrey {
			background-color: #27a9e1;
		}
		.layout-header-menu .layout-header-menuitemwithbutton.button:hover strong.blue,
		.layout-header-menu .layout-header-menuitemwithbutton.button:focus strong.blue {
			background-color: #0093d2;
		}



/*Header inputs*/
.layout-header .placeholder {
	text-transform: uppercase;
}
	.layout-header ::-webkit-input-placeholder {
		text-transform: uppercase;
	}
	.layout-header :-moz-placeholder {
		text-transform: uppercase;
	}
	.layout-header ::-moz-placeholder {
		text-transform: uppercase;
	}
	.layout-header :-ms-input-placeholder {
		text-transform: uppercase;
	}
