
.layout-supportarticle .row-content .column.smallmedium-three.buffer-top {
	padding-top: 4%;
}

.layout-customcontent-section {
	max-width: 40em;
}

.layout-supportarticle .layout-customcontent-image a {
	padding: 0.5em;
	border-width: 1px;
	border-color: #f0f1f2;
}
	.layout-supportarticle .layout-customcontent-image a:hover,
	.layout-supportarticle .layout-customcontent-image a:focus {
		border-color: #27a9e1;
	}

.layout-supportarticle .layout-customcontent h2 {
	border-top-width: 1px;
	padding-top: 2.68em;
}

@media handheld, only screen and (min-width: 70em) and (max-width: 104.9375em) {
	.layout-supportarticle .row-content {
		margin-left: 0;
		margin-right: 0;
	}
}

@media handheld, only screen and (min-width: 105em) {
	.layout-supportarticle .row-content {
		max-width: 95em;
	}
	.layout-supportarticle .layout-customcontent-section {
		margin-left: 5%;
		margin-right: 0;
	}
}

@media handheld, only screen and (min-width: 55em) and (max-width: 64.9375em) {
	.layout-supportarticle .layout-customcontent-overflow,
	.layout-supportarticle .layout-customcontent h2,
	.layout-supportarticle .layout-customcontent table,
	.layout-supportarticle .layout-customcontent-image,
	.layout-supportarticle .layout-customcontent pre {
		margin-left: 0;
		margin-right: 0;
	}
	.layout-supportarticle .layout-customcontent-overflow,
	.layout-supportarticle .layout-customcontent h2,
	.layout-supportarticle .layout-customcontent table,
	.layout-supportarticle .layout-customcontent pre code {
		padding-left: 0;
		padding-right: 0;
	}
	.layout-supportarticle .layout-customcontent table {
		width: 100%;
	}
}
