
/*Display*/
.layout-revealmenu .menu-reveal {
	max-height: 90vh;
	overflow-y: auto;
	position: relative;
}
.layout-revealmenu.off {
	display: none;
}
	.layout-revealmenu.off.animating {
		display: block;
	}

@media handheld, only screen and (min-width: 55em) {
	.layout-revealmenu {
		display: none;
	}
}

/*States*/
.layout-revealmenu,
.layout-revealmenu.on.animating {

	/*Positioning*/
	position: fixed;
	z-index: 100;
	left: 0;
	bottom: 100%;
	width: 100%;
	transform: translate3d(0, 0, 0);

	/*Look*/
	background-color: #fff;

	/*Transition*/
	transition-duration: 300ms;
}

	.layout-revealmenu.on {
		transform: translate3d(0, 100%, 0);
		transition-duration: 400ms;
	}



/*Buttons*/
.layout-revealmenu a {
	display: block;
}
	.layout-revealmenu a:hover,
	.layout-revealmenu a:active {}

/*Close*/
.layout-revealmenu-close {}
	.layout-revealmenu-close .button {}
