{% extends 'twig/layouts/full.twig' %}

{% block body %}

	<div class="special-search">

		{% if not records %}

			<p class="special-search-noresults reset">No search results</p>

		{% else %}
			{% for record in records %}
				<a href="{{ record.link }}" class="block no-rhythm type-ellipsis">{{ record.title }}</a>
			{% endfor %}
		{% endif %}

		{# {{ pager() }} #}

	</div>

{% endblock %}
