{% extends 'frames/marketing.twig' %}

{% block body %}

	<div class="page-contact">
		<div class="row headerpad">
			<div class="row-content buffer limit-small">

				<div class="align-center-over-small">

					{% if page.heading %}
						<h1>{{ page.heading }}</h1>
					{% endif %}

					{% if page.headercontent %}
						{{ page.headercontent|raw }}
					{% endif %}

				</div>

				<div class="limit-small keep-center">

					<div class="column small-half">
						<label class="block">
							<h3>Company name</h3>
							<p><input type="text" class="textinput"></p>
						</label>
					</div>
					<div class="column small-half small-last">
						<label class="block">
							<h3>Your name</h3>
							<p><input type="text" class="textinput"></p>
						</label>
					</div>
					<div class="clear"></div>

					<div class="column small-half">
						<label class="block">
							<h3>Contact email</h3>
							<p><input type="text" class="textinput" placeholder="email@domain.com"></p>
						</label>
					</div>
					<div class="column small-half small-last">
						<label class="block">
							<h3>Phone number</h3>
							<p><input type="text" class="textinput"></p>
						</label>
					</div>
					<div class="clear"></div>

					<h3>What do you do?</h3>

					<ul class="inline">
						<li><label class="inline-block"><input type="radio" name="business" value="games"> Games</label></li>
						<li><label class="inline-block"><input type="radio" name="business" value="mobile"> Mobile apps</label></li>
						<li><label class="inline-block"><input type="radio" name="business" value="web"> Web</label></li>
						<li><label class="inline-block"><input type="radio" name="business" value="web-and-mobile"> Web &amp; Mobile</label></li>
					</ul>

					<div class="buffer-top">
						<p class="align-center"><a href="" class="button blue round">Send contact request</a></p>
					</div>

				</div>

			</div>
		</div>

	</div>

{% endblock %}
