
<div class="partial-layout-header">
	<div class="row">
		<div class="row-content buffer even">

			<ul class="collapse reset plain">
				<li><a href="{{ paths.root }}">{{ theme.config.sitename }}</a></li>
			</ul>

			<ul class="partial-header-menu collapse reset plain right">
				{{ menu('main', 'twig/menus/simple.twig') }}
			</ul>

			<div class="clear"></div>
		</div>
	</div>

</div>
