{% extends 'twig/layouts/full.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent people = 'people' limit 200 %}

	{# Print #}
	<div class="record-people row">
		<div class="row-content buffer">

			<h1 class="align-center">Meet the Team</h1>

			{# {% include 'twig/partials/grids/peoplegrid.twig' with { 'people': people } only %} #}
			{% include 'twig/partials/grids/peopletiles.twig' with { 'people': people } only %}
			{# {% include 'twig/partials/grids/contacttiles.twig' with { 'people': people } only %} #}
			{# {% include 'twig/partials/grids/contactgrid.twig' with { 'people': people } only %} #}

		</div>
	</div>

{% endblock %}


