{% extends 'twig/layouts/full.twig' %}

{% block body %}

	{# Sample: Fetch content #}
	{# {% setcontent posts = 'posts' where {
		author: person.id
	} %} #}

	<div class="contenttype-person">
		<div class="row">
			<div class="row-content buffer">

				<h1>{{ person.title }}</h1>

				<p>{{ person.intro }}</p>

			</div>
		</div>
	</div>

{% endblock %}


