{% extends 'twig/layouts/full.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent posts = 'posts/latest/10' allowpaging %}

	<div class="contenttype-posts">
		<div class="row">
			<div class="row-content buffer">

				{% include 'partials/postlisting.twig' with {
					'posts': posts
				} only %}

			</div>
		</div>
	</div>

{% endblock %}
