{% extends 'frames/marketing.twig' %}

{% block body %}

	{# Fetch content #}
	{% setcontent posts = 'posts/latest/10' allowpaging %}
	{% setcontent people = 'people/random/8' %}

	{# Print #}
	<div class="row headerpad">
		<div class="row-content buffer">

			{% include 'partials/postlisting.twig' with {
				'posts': posts
			} only %}

		</div>
	</div>



	<!-- Authors -->
	<div class="row verylightgrey">
		<div class="row-content buffer">

			<h2>Our team</h2>

			{% include 'partials/peoplegrid.twig' with { people: people } %}

		</div>

	</div>

{% endblock %}
