
/*Parent*/
.grid:after,
.grid-cell:after {
	content: " ";
	display: table;
	clear: both;
}

/*Cell behavior*/
.grid-cell {
	float: left;
	clear: none;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 10em;
}

/*Defaults*/
@media handheld, only screen and (max-width: 24.9375em) {

	/*Strokes*/
	.grid.half.stroked .grid-cell,
	.grid.third.stroked .grid-cell,
	.grid.fourth.stroked .grid-cell,
	.grid.fifth.stroked .grid-cell {
		border-top-width: 1px;
		border-right-width: 1px;
	}
		.grid.stroked .grid-cell:last-child {
			border-right-width: 0;
		}

	/*Half-width*/
	.grid.half .grid-cell {
		width: 50%;
	}
		/*Last orphan*/
		.grid.half .grid-cell:nth-child(2n+1):last-child {
			margin-left: 25%;
		}

		/*No strokes*/
		.grid.half.stroked .grid-cell:nth-child(2n) {
			border-right-width: 0;
		}

	/*Third-width*/
	.grid.third .grid-cell {
		width: 33%;
	}
		/*Middle cell of each full row*/
		.grid.third .grid-cell:nth-child(3n-1):not(:last-child) {
			width: 34%;
		}
		/*Last orphan*/
		.grid.third .grid-cell:nth-child(3n+1):last-child {
			width: 34%;
			margin-left: 33%;
		}
		/*Two last orphans*/
		.grid.third .grid-cell:nth-child(3n+1):nth-last-child(2) {
			margin-left: 17%;
		}

		/*No strokes*/
		.grid.third.stroked .grid-cell:nth-child(3n) {
			border-right-width: 0;
		}

	/*Fourth-width*/
	.grid.fourth .grid-cell {
		width: 25%;
	}
		/*Last orphan*/
		.grid.fourth .grid-cell:nth-child(4n+1):last-child {
			margin-left: 37.5%;
		}
		/*Two last orphans*/
		.grid.fourth .grid-cell:nth-child(4n+1):nth-last-child(2) {
			margin-left: 25%;
		}
		/*Three last orphans*/
		.grid.fourth .grid-cell:nth-child(4n+1):nth-last-child(3) {
			margin-left: 17.5%;
		}

		/*No strokes*/
		.grid.fourth.stroked .grid-cell:nth-child(4n) {
			border-right-width: 0;
		}

	/*Fifth-width*/
	.grid.fifth .grid-cell {
		width: 20%;
	}
		/*Last orphan*/
		.grid.fifth .grid-cell:nth-child(5n+1):last-child {
			margin-left: 40%;
		}
		/*Two last orphans*/
		.grid.fifth .grid-cell:nth-child(5n+1):nth-last-child(2) {
			margin-left: 30%;
		}
		/*Three last orphans*/
		.grid.fifth .grid-cell:nth-child(5n+1):nth-last-child(3) {
			margin-left: 20%;
		}
		/*Four last orphans*/
		.grid.fifth .grid-cell:nth-child(5n+1):nth-last-child(4) {
			margin-left: 10%;
		}

		/*No strokes*/
		.grid.fifth.stroked .grid-cell:nth-child(5n) {
			border-right-width: 0;
		}

}



/*Above tiny screens*/
@media handheld, only screen and (min-width: 25em) and (max-width: 39.9375em) {

	/*Strokes*/
	.grid.tiny-half.stroked .grid-cell,
	.grid.tiny-third.stroked .grid-cell,
	.grid.tiny-fourth.stroked .grid-cell,
	.grid.tiny-fifth.stroked .grid-cell {
		border-top-width: 1px;
		border-right-width: 1px;
	}
		.grid.stroked .grid-cell:last-child {
			border-right-width: 0;
		}

	/*Half-width*/
	.grid.tiny-half .grid-cell {
		width: 50%;
	}
		/*Last orphan*/
		.grid.tiny-half .grid-cell:nth-child(2n+1):last-child {
			margin-left: 25%;
		}

		/*No strokes*/
		.grid.tiny-half.stroked .grid-cell:nth-child(2n) {
			border-right-width: 0;
		}

	/*Third-width*/
	.grid.tiny-third .grid-cell {
		width: 33%;
	}
		/*Middle cell of each full row*/
		.grid.tiny-third .grid-cell:nth-child(3n-1):not(:last-child) {
			width: 34%;
		}
		/*Last orphan*/
		.grid.tiny-third .grid-cell:nth-child(3n+1):last-child {
			width: 34%;
			margin-left: 33%;
		}
		/*Two last orphans*/
		.grid.tiny-third .grid-cell:nth-child(3n+1):nth-last-child(2) {
			margin-left: 17%;
		}

		/*No strokes*/
		.grid.tiny-third.stroked .grid-cell:nth-child(3n) {
			border-right-width: 0;
		}

	/*Fourth-width*/
	.grid.tiny-fourth .grid-cell {
		width: 25%;
	}
		/*Last orphan*/
		.grid.tiny-fourth .grid-cell:nth-child(4n+1):last-child {
			margin-left: 37.5%;
		}
		/*Two last orphans*/
		.grid.tiny-fourth .grid-cell:nth-child(4n+1):nth-last-child(2) {
			margin-left: 25%;
		}
		/*Three last orphans*/
		.grid.tiny-fourth .grid-cell:nth-child(4n+1):nth-last-child(3) {
			margin-left: 17.5%;
		}

		/*No strokes*/
		.grid.tiny-fourth.stroked .grid-cell:nth-child(4n) {
			border-right-width: 0;
		}

	/*Fifth-width*/
	.grid.tiny-fifth .grid-cell {
		width: 20%;
	}
		/*Last orphan*/
		.grid.tiny-fifth .grid-cell:nth-child(5n+1):last-child {
			margin-left: 40%;
		}
		/*Two last orphans*/
		.grid.tiny-fifth .grid-cell:nth-child(5n+1):nth-last-child(2) {
			margin-left: 30%;
		}
		/*Three last orphans*/
		.grid.tiny-fifth .grid-cell:nth-child(5n+1):nth-last-child(3) {
			margin-left: 20%;
		}
		/*Four last orphans*/
		.grid.tiny-fifth .grid-cell:nth-child(5n+1):nth-last-child(4) {
			margin-left: 10%;
		}

		/*No strokes*/
		.grid.tiny-fifth.stroked .grid-cell:nth-child(5n) {
			border-right-width: 0;
		}

}



/*Above small screens*/
@media handheld, only screen and (min-width: 40em) and (max-width: 69.9375em) {

	/*Strokes*/
	.grid.small-half.stroked .grid-cell,
	.grid.small-third.stroked .grid-cell,
	.grid.small-fourth.stroked .grid-cell,
	.grid.small-fifth.stroked .grid-cell {
		border-top-width: 1px;
		border-right-width: 1px;
	}
		.grid.stroked .grid-cell:last-child {
			border-right-width: 0;
		}

	/*Half-width*/
	.grid.small-half .grid-cell {
		width: 50%;
	}
		/*Last orphan*/
		.grid.small-half .grid-cell:nth-child(2n+1):last-child {
			margin-left: 25%;
		}

		/*No strokes*/
		.grid.small-half.stroked .grid-cell:nth-child(2n) {
			border-right-width: 0;
		}

	/*Third-width*/
	.grid.small-third .grid-cell {
		width: 33%;
	}
		/*Middle cell of each full row*/
		.grid.small-third .grid-cell:nth-child(3n-1):not(:last-child) {
			width: 34%;
		}
		/*Last orphan*/
		.grid.small-third .grid-cell:nth-child(3n+1):last-child {
			width: 34%;
			margin-left: 33%;
		}
		/*Two last orphans*/
		.grid.small-third .grid-cell:nth-child(3n+1):nth-last-child(2) {
			margin-left: 17%;
		}

		/*No strokes*/
		.grid.small-third.stroked .grid-cell:nth-child(3n) {
			border-right-width: 0;
		}

	/*Fourth-width*/
	.grid.small-fourth .grid-cell {
		width: 25%;
	}
		/*Last orphan*/
		.grid.small-fourth .grid-cell:nth-child(4n+1):last-child {
			margin-left: 37.5%;
		}
		/*Two last orphans*/
		.grid.small-fourth .grid-cell:nth-child(4n+1):nth-last-child(2) {
			margin-left: 25%;
		}
		/*Three last orphans*/
		.grid.small-fourth .grid-cell:nth-child(4n+1):nth-last-child(3) {
			margin-left: 17.5%;
		}

		/*No strokes*/
		.grid.small-fourth.stroked .grid-cell:nth-child(4n) {
			border-right-width: 0;
		}

	/*Fifth-width*/
	.grid.small-fifth .grid-cell {
		width: 20%;
	}
		/*Last orphan*/
		.grid.small-fifth .grid-cell:nth-child(5n+1):last-child {
			margin-left: 40%;
		}
		/*Two last orphans*/
		.grid.small-fifth .grid-cell:nth-child(5n+1):nth-last-child(2) {
			margin-left: 30%;
		}
		/*Three last orphans*/
		.grid.small-fifth .grid-cell:nth-child(5n+1):nth-last-child(3) {
			margin-left: 20%;
		}
		/*Four last orphans*/
		.grid.small-fifth .grid-cell:nth-child(5n+1):nth-last-child(4) {
			margin-left: 10%;
		}

		/*No strokes*/
		.grid.small-fifth.stroked .grid-cell:nth-child(5n) {
			border-right-width: 0;
		}

}



/*Above medium screens*/
@media handheld, only screen and (min-width: 70em) and (max-width: 104.9375em) {

	/*Strokes*/
	.grid.medium-half.stroked .grid-cell,
	.grid.medium-third.stroked .grid-cell,
	.grid.medium-fourth.stroked .grid-cell,
	.grid.medium-fifth.stroked .grid-cell {
		border-top-width: 1px;
		border-right-width: 1px;
	}
		.grid.stroked .grid-cell:last-child {
			border-right-width: 0;
		}

	/*Half-width*/
	.grid.medium-half .grid-cell {
		width: 50%;
	}
		/*Last orphan*/
		.grid.medium-half .grid-cell:nth-child(2n+1):last-child {
			margin-left: 25%;
		}

		/*No strokes*/
		.grid.medium-half.stroked .grid-cell:nth-child(2n) {
			border-right-width: 0;
		}

	/*Third-width*/
	.grid.medium-third .grid-cell {
		width: 33%;
	}
		/*Middle cell of each full row*/
		.grid.medium-third .grid-cell:nth-child(3n-1):not(:last-child) {
			width: 34%;
		}
		/*Last orphan*/
		.grid.medium-third .grid-cell:nth-child(3n+1):last-child {
			width: 34%;
			margin-left: 33%;
		}
		/*Two last orphans*/
		.grid.medium-third .grid-cell:nth-child(3n+1):nth-last-child(2) {
			margin-left: 17%;
		}

		/*No strokes*/
		.grid.medium-third.stroked .grid-cell:nth-child(3n) {
			border-right-width: 0;
		}

	/*Fourth-width*/
	.grid.medium-fourth .grid-cell {
		width: 25%;
	}
		/*Last orphan*/
		.grid.medium-fourth .grid-cell:nth-child(4n+1):last-child {
			margin-left: 37.5%;
		}
		/*Two last orphans*/
		.grid.medium-fourth .grid-cell:nth-child(4n+1):nth-last-child(2) {
			margin-left: 25%;
		}
		/*Three last orphans*/
		.grid.medium-fourth .grid-cell:nth-child(4n+1):nth-last-child(3) {
			margin-left: 17.5%;
		}

		/*No strokes*/
		.grid.medium-fourth.stroked .grid-cell:nth-child(4n) {
			border-right-width: 0;
		}

	/*Fifth-width*/
	.grid.medium-fifth .grid-cell {
		width: 20%;
	}
		/*Last orphan*/
		.grid.medium-fifth .grid-cell:nth-child(5n+1):last-child {
			margin-left: 40%;
		}
		/*Two last orphans*/
		.grid.medium-fifth .grid-cell:nth-child(5n+1):nth-last-child(2) {
			margin-left: 30%;
		}
		/*Three last orphans*/
		.grid.medium-fifth .grid-cell:nth-child(5n+1):nth-last-child(3) {
			margin-left: 20%;
		}
		/*Four last orphans*/
		.grid.medium-fifth .grid-cell:nth-child(5n+1):nth-last-child(4) {
			margin-left: 10%;
		}

		/*No strokes*/
		.grid.medium-fifth.stroked .grid-cell:nth-child(5n) {
			border-right-width: 0;
		}

}



/*Above large screens*/
@media handheld, only screen and (min-width: 105em) {

	/*Strokes*/
	.grid.large-half.stroked .grid-cell,
	.grid.large-third.stroked .grid-cell,
	.grid.large-fourth.stroked .grid-cell,
	.grid.large-fifth.stroked .grid-cell {
		border-top-width: 1px;
		border-right-width: 1px;
	}
		.grid.stroked .grid-cell:last-child {
			border-right-width: 0;
		}

	/*Half-width*/
	.grid.large-half .grid-cell {
		width: 50%;
	}
		/*Last orphan*/
		.grid.large-half .grid-cell:nth-child(2n+1):last-child {
			margin-left: 25%;
		}

		/*No strokes*/
		.grid.large-half.stroked .grid-cell:nth-child(2n) {
			border-right-width: 0;
		}

	/*Third-width*/
	.grid.large-third .grid-cell {
		width: 33%;
	}
		/*Middle cell of each full row*/
		.grid.large-third .grid-cell:nth-child(3n-1):not(:last-child) {
			width: 34%;
		}
		/*Last orphan*/
		.grid.large-third .grid-cell:nth-child(3n+1):last-child {
			width: 34%;
			margin-left: 33%;
		}
		/*Two last orphans*/
		.grid.large-third .grid-cell:nth-child(3n+1):nth-last-child(2) {
			margin-left: 17%;
		}

		/*No strokes*/
		.grid.large-third.stroked .grid-cell:nth-child(3n) {
			border-right-width: 0;
		}

	/*Fourth-width*/
	.grid.large-fourth .grid-cell {
		width: 25%;
	}
		/*Last orphan*/
		.grid.large-fourth .grid-cell:nth-child(4n+1):last-child {
			margin-left: 37.5%;
		}
		/*Two last orphans*/
		.grid.large-fourth .grid-cell:nth-child(4n+1):nth-last-child(2) {
			margin-left: 25%;
		}
		/*Three last orphans*/
		.grid.large-fourth .grid-cell:nth-child(4n+1):nth-last-child(3) {
			margin-left: 17.5%;
		}

		/*No strokes*/
		.grid.large-fourth.stroked .grid-cell:nth-child(4n) {
			border-right-width: 0;
		}

	/*Fifth-width*/
	.grid.large-fifth .grid-cell {
		width: 20%;
	}
		/*Last orphan*/
		.grid.large-fifth .grid-cell:nth-child(5n+1):last-child {
			margin-left: 40%;
		}
		/*Two last orphans*/
		.grid.large-fifth .grid-cell:nth-child(5n+1):nth-last-child(2) {
			margin-left: 30%;
		}
		/*Three last orphans*/
		.grid.large-fifth .grid-cell:nth-child(5n+1):nth-last-child(3) {
			margin-left: 20%;
		}
		/*Four last orphans*/
		.grid.large-fifth .grid-cell:nth-child(5n+1):nth-last-child(4) {
			margin-left: 10%;
		}

		/*No strokes*/
		.grid.large-fifth.stroked .grid-cell:nth-child(5n) {
			border-right-width: 0;
		}

}
