
{# "Previous | Next" pagination #}
{% if record %}

	{% set previous = record.previous() %}
	{% set next = record.next() %}

	<ul class="layout-pagination partial-recordnavigation plain{% if not listinglink %} simple{% endif %}">

		<li class="layout-pagination-link layout-pagination-link-first"><a href="{{ next.link }}" class="button {% if not next %}disabled{% endif %}"><i class="icon-chevron-left"></i><span class="hide-under-small">Next<span class="hide-under-medium"> article</span></span></a></li>

		{% if listinglink %}
			<li class="layout-pagination-link layout-pagination-link-middle"><a href="{{ listinglink }}" class="button"><span class="hide-under-small">All<span class="hide-under-medium"> articles</span></span><span class="hide-over-small"><i class="icon-docs"></i></span></a></li>
		{% endif %}

		<li class="layout-pagination-link layout-pagination-link-last"><a href="{{ previous.link }}" class="button {% if not previous %}disabled{% endif %}"><span class="hide-under-small">Previous<span class="hide-under-medium"> article</span></span><i class="icon-chevron-right"></i></a></li>

	</ul>
{% endif %}
