{% extends 'twig/layouts/full.twig' %}

{% block body %}

	<div class="main-maintenance">
		<div class="row">
			<div class="row-content buffer">

				<h1>Site under maintenance</h1>

				<p>We'll be back soon.</p>

			</div>
		</div>
	</div>

{% endblock %}


