
.template-contactgrid {
}



/*Cells*/
.template-contactgrid .grid-cell {
	height: 10em;
}
	@media handheld, only screen and (min-width: 40em) {
		.template-contactgrid .grid-cell {
			padding: 1.5em;
		}
	}



/*Container size*/
.template-contactgrid {
	margin-left: auto;
	margin-right: auto;
}
	/*@media handheld, only screen and (max-width: 70em) {
		.template-contact .template-contactgrid {
			max-width: 45em;
		}
	}*/
	@media handheld, only screen and (max-width: 105em) {
		.template-contactgrid {
			margin-left: auto;
			margin-right: auto;
			max-width: 55em;
		}
	}



/*Avatar size*/
.template-contactgrid .grid-cell-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 22em;
}
.template-contactgrid .avatar {
	display: block;
}
.template-contactgrid .column.fixed {
	width: 5.5em;
}
.template-contactgrid .column.fluid > .column-content {
	margin-right: 7em;
}
.template-contactgrid .column.fluid.right > .column-content {
	margin-right: 0;
	margin-left: 7em;
}

	@media handheld, only screen and (max-width: 40em) {
		.template-contactgrid .avatar {
			margin-top: 0.2em;
		}
	}
	@media handheld, only screen and (min-width: 40em) and (max-width: 55em) {
		.template-contactgrid .avatar {
			display: block;
		}
		.template-contactgrid .column.fixed {
			width: 3.5em;
		}
		.template-contactgrid .column.fluid > .column-content {
			margin-right: 4.5em;
		}
		.template-contactgrid .column.fluid.right > .column-content {
			margin-right: 0;
			margin-left: 4.5em;
		}
	}
