
svg {
	stroke-width: 0;
	border-width: 0;
	border-style: solid;
	display: block;
	width: 100%;
	height: 100%;
}

svg.white {
	background-color: transparent;
	fill: #fff;
	border-color: #fff;
}

.partial-mask-top,
.partial-mask-bottom {
	width: 100%;
	height: 15px;
}
	.partial-mask-top.absolute,
	.partial-mask-bottom.absolute {
		left: 0;
	}
	.partial-mask-top.absolute {
		top: 0;
	}
	.partial-mask-bottom.absolute {
		bottom: 0;
	}

@media only screen and (min-width: 400px) {
	.partial-mask-top,
	.partial-mask-bottom {
		height: 20px;
	}
}

@media only screen and (min-width: 600px) {
	.partial-mask-top,
	.partial-mask-bottom {
		height: 30px;
	}
}

@media only screen and (min-width: 800px) {
	.partial-mask-top,
	.partial-mask-bottom {
		height: 40px;
	}
}

@media only screen and (min-width: 1000px) {
	.partial-mask-top,
	.partial-mask-bottom {
		height: 50px;
	}
}
