
.mfp-bg,
.mfp-content,
.mfp-preloader {
	transition-property: opacity, color, background-color, border-color, box-shadow, transform;
	transform: scale(1) translate3d(0, 0, 0);
}

/*Cursor*/
.mfp-container {
	cursor: pointer;
}
	.mfp-content {
		cursor: default;
	}

/*Background animation*/
.mfp-bg {
  	opacity: 1;
	transition-duration: 200ms;
}
.mfp-bg,
.mfp-bg.mfp-ready {
	background-color: rgba(0, 0, 0, 0.3);
}
	.mfp-bg,
	.mfp-bg.mfp-removing {
		background-color: transparent;
	}
	.mfp-bg.mfp-removing {
		transition-delay: 200ms;
		transition-duration: 400ms;
	}

/*Content removal*/
.mfp-content {
	transition-duration: 200ms;
	transition-delay: 100ms;
	transform: scale(1.00) translate3d(0, -0.5em, 0);
}
.mfp-ready .mfp-content {
	opacity: 1;
	transform: scale(1) translate3d(0, 0, 0);
}
	.mfp-content,
	.mfp-removing .mfp-content {
		opacity: 0;
	}
	.mfp-removing .mfp-content {
		transform: scale(1) translate3d(0, 1em, 0);
		transition-delay: 0;
		transition-duration: 300ms;
	}



/*Loading indicator*/
/*FIXME: Add animation*/
.mfp-preloader:before {
	font-family: 'icons';
	content: '\e985';
}
.mfp-preloader {
	font-size: 2em;
	transition-duration: 100ms;
}

.mfp-preloader
.mfp-ready .mfp-preloader {
	opacity: 0;
	transform: scale(0) translate3d(0, 0, 0);
}

.mfp-ajax-cur .mfp-preloader {
	opacity: 1;
	transform: scale(1) translate3d(0, 0, 0);
}



/*Dimensions*/
.mfp-container {
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 900px) {
	.mfp-container {
		padding-left: 0;
		padding-right: 0;
	}
}

.mfp-iframe-holder {
	padding-top: 0;
	padding-bottom: 0;
}
	.mfp-iframe-scaler {
		padding-top: 0;
		height: 100%;
	}
	.mfp-iframe-scaler iframe {
		position: relative;
		/*display: block;*/
		/*top: 0;*/
		/*left: 0;*/
		width: 100%;
		height: 100%;
		/*box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);*/
		background: #fff;
	}

.mfp-image-holder .mfp-content,
.mfp-ajax-holder .mfp-content,
.mfp-iframe-holder .mfp-content {
	width: 55em;
	max-width: 90%;
	height: 60em;
	max-height: 70%;
}
	.mfp-ajax-holder .mfp-content,
	.mfp-iframe-holder .mfp-content {
		background-color: #fff;
		border-radius: 2px;
		overflow: auto;
	}
	@media handheld, only screen and (max-height: 35em) {
		.mfp-ajax-holder .mfp-content,
		.mfp-iframe-holder .mfp-content {
			width: 50em;
		}
	}
	@media handheld, only screen and (max-width: 35em) {
		.mfp-ajax-holder .mfp-content,
		.mfp-iframe-holder .mfp-content {
			width: 100%;
			max-width: none;
			max-height: 90%;
			display: block;

			top: -100%;
			left: 0;
			border-radius: 0;
		}
		.mfp-removing .mfp-content {
			transform: scale(1) translate3d(0, 0, 0);
		}
	}

.mfp-ajax-holder .mfp-content {
	overflow: auto;
}

.mfp-iframe-scaler {
	line-height: 0;
}

.mfp-image-holder img.mfp-img {
	padding: 0;
	max-height: 100% !important;
	box-shadow: 0 1px 0.75em rgba(28, 43, 50, 0.3);
	border-radius: 2px;
	overflow: hidden;
}
	.mfp-image-holder .mfp-figure,
	.mfp-image-holder .mfp-figure figure {
		height: 100%;
	}
	.mfp-image-holder .mfp-figure:after {
		display: none;
	}
	.mfp-image-holder .mfp-container {
		padding: 0;
	}
