
.page-home {}


/*News section*/

@media handheld, only screen and (min-width: 40em) {
	.page-home .partial-newstitles li {
		float: left;
		clear: none;
		width: 50%;
	}
	.page-home .partial-newstitles li:nth-child(2n+1) {
		clear: both;
	}
}

.page-home .partial-newstitles a {
	color: inherit;
}

.page-home .partial-newstitles-item {
	border-radius: 2px;
	padding: 0.5em 1.5em;
	margin: 0.5em;
	font-size: 1.2em;
}

	.page-home .partial-newstitles a:focus,
	.page-home .partial-newstitles a:hover {
		background-color: #0093d2;
	}
