
{# Job list #}
{% if products %}

	<div class="partial-productgrid grid small-half medium-third large-third">

		{% for product in products %}
			{% if product is not empty %}

			<div class="grid-cell">
				<div class="grid-cell-content relative">

					{% if product.body1 %}
						{{ product.body1 }}
					{% endif %}

				</div>
			</div>

			{% endif %}
		{% endfor %}

		{# {{ pager() }} #}

	</div>

{% endif %}
