
.collapse-rhythm {
	line-height: 1;
}

.tight-rhythm {
	line-height: 1.4;
}

.plain-rhythm h1,
.plain-rhythm h2,
.plain-rhythm h3,
.plain-rhythm h4,
.plain-rhythm h5,
.plain-rhythm h6 {
	line-height: inherit;
}

.plain-rhythm h1,
.plain-rhythm h2,
.plain-rhythm h3,
.plain-rhythm h4,
.plain-rhythm h5,
.plain-rhythm h6,

.plain-rhythm p,
.plain-rhythm ul,
.plain-rhythm ol,

.plain-rhythm dl,
.plain-rhythm dt,
.plain-rhythm dd,
.plain-rhythm img
{
 	margin-top: 0;
 	margin-bottom: 0;
}
