
/*Theme*/
body {
	background-color: #fff;
	color: #4e6d7b;
}

a,
.button {
	color: #27a9e1;
}
	a:hover,
	.button:hover {
		color: #0093d2;
	}
	a.plain,
	.button.plain {
		color: inherit;
	}
	.discreet,
	a.disabled,
	.button.disabled {
		color: #8b9ba3;
	}

.inverted {
	color: #fff;
}

/*Default border color*/
header,
section,
footer,
div,
p,
table,
form,
span,
code,
em,
i,
img,
strong,
ul,
ol,
li,
dl,
dt,
dd,
a,
h1,
h2,
h3,
h4,
h5,
h6,
label,
blockquote,
.textinput {
	border-color: #d7dadc;
}
	table,
	th,
	td {
		border-color: #d7dadc;
	}



/*Content color within swatches*/
.blue,
.grey,
.darkgrey,
.verydarkgrey {
	color: #fff;
}

/*Swatches*/
.blue {
	background-color: #27a9e1;
}
	.blue-offset {
		background-color: #0093d2;
	}

/*Greyscale swatches*/
.white {
	background-color: #fff;
}
.verylightgrey {
	background-color: #f0f1f2;
}
.lightgrey {
	background-color: #d7dadc;
}
.grey {
	background-color: #8b9ba3;
}
.darkgrey {
	background-color: #4e6d7b;
}
.verydarkgrey {
	background-color: #1c2b32;
}
