
/*Global defaults*/
body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Segoe UI", "Segoe WP", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.6;
	font-size: 0.9em;
}

	@media handheld, only screen and (min-width: 25em) {
		body {
			line-height: 1.75;
		}
	}
	/*@media handheld, only screen and (min-width: 40em) {}*/
	/*@media handheld, only screen and (min-width: 70em) {}*/
	@media handheld, only screen and (min-width: 105em) {
		body {
			font-size: 1em;
		}
	}



/*Italics*/
blockquote {
	font-family: "Georgia", serif;
	font-style: italic;
}



/*Headings*/
h1, h2, h3, h4, dt, th, code {
	word-break: normal;
	hyphens: manual;
}

	h1, h2, h3 {
		line-height: 1.4em;
	}

	h1, h4, h4 {
		font-weight: 700;
	}

	h1 {
		color: #1c2b32;
	}

		.grey h1,
		.grey h2,
		.grey h3,
		.grey h4,
		.darkgrey h1,
		.darkgrey h2,
		.darkgrey h3,
		.darkgrey h4,
		.verydarkgrey h1,
		.verydarkgrey h2,
		.verydarkgrey h3,
		.verydarkgrey h4 {
			color: inherit;
		}

		h1 {
			font-size: 1.6em;
			font-weight: 600;
		}
		@media handheld, only screen and (max-width: 25em) {
			h1 {
				margin-top: 0.67em;
			}
		}
		@media handheld, only screen and (min-width: 25em) {
			h1 {
				font-size: 1.8em;
			}
		}
		@media handheld, only screen and (min-width: 40em) {
			h1 {
				font-size: 2.2em;
			}
		}

		h2 {
			color: #8b9ba3;
			font-size: 1.4em;
			font-weight: inherit;
			text-transform: uppercase;
		}
		@media handheld, only screen and (min-width: 25em) {
			h2 {
				/*font-size: 1.6em;*/
			}
		}
		@media handheld, only screen and (min-width: 40em) {
			h2 {
				font-size: 1.6em;
				letter-spacing: 0.2em;
			}
		}

		h3, h4 {
			font-weight: 600;
			font-size: 0.85em;
			text-transform: uppercase;
		}

		h3 {
			color: #8b9ba3;
			letter-spacing: 0.15em;
		}

		h5 {
			font-size: 1em;
			font-weight: bold;
		}

	.inverted h1,
	.inverted h2,
	.inverted h3,
	.inverted h4 {
		color: inherit;
	}
