
<div class="partial-layout-revealmenu transition off" data-delay="300">
	<ul class="menu-reveal reset plain">
		{{ menu('main', 'twig/menus/recursive.twig') }}
	</ul>
	<div class="clear"></div>
	<p class="layout-revealmenu-close reset"><a href="home" class="button white" data-action="toggle">Close</a></p>
</div>
