{% extends 'twig/setup.twig' %}
{% block html %}
	{% spaceless %}

		{# Set variables #}
		{% set rootclasses = [] %}

		{# {% if theme.config.debug %}
			{% set rootclasses = rootclasses|merge(['debug']) %}
		{% endif %}

		{% if record is not empty %}
			{% set rootclasses = rootclasses|merge([
				('record-' ~ record.contenttype.singular_slug),
				('record-' ~ record.contenttype.singular_slug ~ '-' ~ record.slug)
			]) %}
		{% endif %} #}



		{# Pring head #}
		<!DOCTYPE html>
		<html lang="{{ language }}"{% if rootclasses is not empty %} class="{{ rootclasses|join(' ') }}"{% endif %}>

			<head>
				{% include 'twig/frame/meta.twig' %}
				{% include 'twig/frame/viewport.twig' %}
				{% include 'twig/frame/css.twig' %}
			</head>

			<body>

	{% endspaceless %}
	{% block layout %}<h1>No body content</h1>{% endblock %}
	{% spaceless %}

		{% if theme.config.debug %}
			{% include 'twig/frame/debug.twig' %}
		{% endif %}

		{% include 'twig/frame/js.twig' %}

		{% include 'twig/frame/tracking.twig' %}

			</body>
		</html>

	{% endspaceless %}
{% endblock %}