{% extends 'twig/setup.twig' %}
{% block html %}
	<!DOCTYPE html>
	<html lang="{{ language }}">

		{% spaceless %}

			<head>

				{% include 'twig/frame/meta.twig' %}

				{% include 'twig/frame/viewport.twig' %}

				{% include 'twig/frame/css.twig' %}

			</head>

		{% endspaceless %}

		<body{% if record is not empty %} class="body-record-{{ record.contenttype.singular_slug }} body-record-{{ record.contenttype.singular_slug }}-{{record.slug}}"{% endif %}>

			{% block frame %}
				<h1>No body content</h1>
			{% endblock %}

			{% if theme.config.debug %}
				{% include 'twig/frame/debug.twig' %}
			{% endif %}

			{% spaceless %}

				{% include 'twig/frame/js.twig' %}

				{% include 'twig/frame/tracking.twig' %}

			{% endspaceless %}

		</body>
	</html>

{% endblock %}