
/*FIXME: targets the specific page careers, not the template named careers*/
.body-record-page-careers:not(.scrolled) .partial-marketing-header {
	background-color: transparent;
}



/*Template*/
.page-careers {}

.page-careers-jobs .grid-cell {
	height: 6em;
	padding: 0.5em;
}

	.page-careers-jobs a {
		height: 100%;
		color: #4e6d7b;
	}
